<h1>Todas as tarefas</h1>
<ul class="task-list">
    {{#each tasks}}
    <li>
        {{#if this.done}}
        <a href=""/ class="title done">{{this.title}}</a>
        {{else}}
        <a href=""/ class="title">{{this.title}}</a>
        {{/if}}
        <div class="actions">
            <form action="/tasks/updateStatus" method="post">
            <input type="hidden" name="id" value="{{this.id}}">
            <input type="hidden" name="done" value="{{this.done}}">
                <button type="submit">
                    <ion-icon name="checkmark-done-outline"></ion-icon>
                </button>
            </form>
            <a href="/tasks/edit/{{this.id}}"><ion-icon name="create-outline"></ion-icon></ion-icon></a>
            <form action="/tasks/remove" method="POST">
            <input type="hidden" name="id" value="{{this.id}}">
                <button type="submit">
                    <ion-icon name="close-outline"></ion-icon>
                </button>
            </form>
        </div>
    </li>
    {{/each}}
</ul>